# Pandas - Series

In [1]:
# 판다스 사용시 넘파이가 꼭 import 되어 있지 않아도 된다
import numpy as np
import pandas as pd

## Series 생성

In [3]:
# 앞에 붙는 0 ~ 3이 인덱스, 인덱스를 별도로 지정하지 않으면 자동으로 인덱스 값이 설정됨
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [4]:
# 인덱스 값과 data type을 설정할 수 있음
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=['서울', '부산', '인천', '대구'], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [5]:
# Series의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [6]:
# Series의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [8]:
# Series와 인덱스의 이름 표기 가능
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

## Series의 연산

In [9]:
# s의 값을 100만으로 나눴더니 타입이 정수 -> 실수로 바뀜
# Series의 data는 numpy이기 때문에 가능
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [10]:
# numpy이기 때문에 '인구수' 불가능
s.values.name = '인구수'
s

AttributeError: ignored

## Series의 인덱싱

In [25]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

In [12]:
# fancy 인덱싱
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [13]:
s[['서울', '대구', '부산']]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [17]:
# Slicing
# 두번째 1 부터 세번째 2까지 (네번째 3 미포함)
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [18]:
# 인덱스로 슬라이싱 하면 마지막 대구도 포함
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [19]:
# 필터링 인덱싱
s[2500000 < s < 3000000]

ValueError: ignored

In [21]:
# & -> and 조건
s[(2500000 < s) & (s <3000000)]

도시
인천    2890451
Name: 인구, dtype: int32

In [23]:
# | -> or 조건
s[(s < 25e5) | (s > 4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

## Series와 딕셔너리

In [26]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [29]:
'서울' in s, '대전' in s2, '대구' in s2

(True, True, False)

## 인덱스 기반 연산

In [30]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [31]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [32]:
rs = (s-s2)/s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [33]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [37]:
rs = rs[rs.notnull()]
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [38]:
# update
rs['부산'] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [39]:
# 추가
rs['대구'] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [41]:
# 삭제
del rs['부산']
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64