# 커피지수
## 1. 데이터로 부터 4개 커피샵에 대한 정보 추출해서 저장하기

- 상권업종중분류코드: Q12		-> 카페, 커피숍
- 상호명, 지점명, 시도명, 시군구명, 도로명주소
- 경기 데이터 -> 스타벅스, 커피빈, 이디야, 빽다방 추출
- 전국 데이터 추출 -> 4개 커피샵에 대한 정보 저장

In [4]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [1]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [2]:
data_folder = '/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630'

In [3]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
    print(file)

/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

In [14]:
!ls -l $data_folder

/bin/bash: -c: line 0: syntax error near unexpected token `('
/bin/bash: -c: line 0: `ls -l /content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630'

## 서울 데이터에서 4개 매장 정보 추출하기

In [19]:
pop = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')
pop = pop[pop['상권업종중분류코드'] == 'Q12']       # = pop[pop.상권업종중분류코드 == 'Q12']
pop.head()

       상가업소번호    상호명          지점명 상권업종대분류코드  ... 층정보 호정보          경도         위도
28   20659878    커피빈  코리아대학로대명거리점         Q  ...   3 NaN  127.000171  37.583149
111  20676428  요거프레소          쌍문점         Q  ...   1 NaN  127.034746  37.658728
190  20695531  메머드커피          NaN         Q  ...   1 NaN  126.929692  37.554599
197  28491095  우성커피숍          NaN         Q  ...   1 NaN  126.842935  37.522055
225  20815616   카페클럽          NaN         Q  ...   1 NaN  127.122480  37.488907

[5 rows x 39 columns]

In [61]:
pop = pop[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
print(pop.shape)
pop.head()

(20832, 5)

       상호명          지점명    시도명 시군구명                도로명주소
28     커피빈  코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길 25
111  요거프레소          쌍문점  서울특별시  도봉구      서울특별시 도봉구 도당로 7
190  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로 149
197  우성커피숍          NaN  서울특별시  양천구     서울특별시 양천구 오목로 48
225   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길 3-6

In [73]:
star = pop[pop['상호명'].str.contains('스타벅스|STARBUCKS', case=False)]
print(len(star))
star.head()

489

              상호명      지점명    시도명  시군구명                 도로명주소
1738         스타벅스   동숭로아트점  서울특별시   종로구     서울특별시 종로구 동숭길 110
2766  스타벅스남부터미널2점  남부터미널2점  서울특별시   서초구     서울특별시 서초구 효령로 274
3785         스타벅스      당산점  서울특별시  영등포구     서울특별시 영등포구 양평로 64
3933         스타벅스    가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길 94
3995  스타벅스미아사거리역점  미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로 32

In [74]:
star2 = pop[pop['지점명'].str.contains('스타벅스|STARBUCKS', na=False, case=False)]
print(len(star2))
star2.head()

0

Empty DataFrame
Columns: [상호명, 지점명, 시도명, 시군구명, 도로명주소]
Index: []

In [67]:
coffee = pop[pop['상호명'].str.contains('커피빈|coffeebean', case=False)]
print(len(coffee))
coffee.head()

169

              상호명           지점명    시도명 시군구명                 도로명주소
28            커피빈   코리아대학로대명거리점  서울특별시  종로구      서울특별시 종로구 대명길 25
316   커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구  서울특별시 관악구 남부순환로 1909
1470          커피빈  코리아강남역랭기지타워점  서울특별시  강남구   서울특별시 강남구 테헤란로4길 28
1491          커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로 716
1506          커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로 461

In [70]:
edi = pop[pop['상호명'].str.contains('이디야|ediya', case=False)]
print(len(edi))
edi.head()

440

             상호명    지점명    시도명  시군구명                도로명주소
1272       이디야커피   신길역점  서울특별시  영등포구  서울특별시 영등포구 영등포로 353
1411       이디야커피   라이프점  서울특별시  영등포구    서울특별시 영등포구 63로 40
2433  이디야커피양재AT점  양재AT점  서울특별시   서초구      서울특별시 서초구 동산로 3
2785       이디야커피    시흥점  서울특별시   금천구    서울특별시 금천구 금하로 750
4498       이디야커피  개봉중앙점  서울특별시   구로구   서울특별시 구로구 개봉로3길 26

In [78]:
paik = pop[pop['상호명'].str.contains('빽다방|paiksdabang', case=False)]
print(len(paik))
paik.head()

126

               상호명       지점명    시도명 시군구명                 도로명주소
7607     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구    서울특별시 마포구 새창로 15-1
8565      빽다방서초우성점     서초우성점  서울특별시  서초구    서울특별시 서초구 사임당로 181
19901  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구   서울특별시 노원구 한글비석로 235
26972     빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길 3
27346    빽다방신림역1호점    신림역1호점  서울특별시  관악구  서울특별시 관악구 남부순환로 1592

In [90]:
# 빈 DataFrame
starbucks = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
coffeebean = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
ediya = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])
paikdabang = pd.DataFrame(columns=['상호명', '지점명', '시도명', '시군구명', '도로명주소'])

In [92]:
from glob import glob
for filename in glob(f'{data_folder}/*.csv'):
    print(filename)
    pop = pd.read_csv(filename)
    pop = pop[pop['상권업종중분류코드'] == 'Q12']       # = pop[pop.상권업종중분류코드 == 'Q12']
    pop = pop[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]

    star = pop[pop['상호명'].str.contains('스타벅스|STARBUCKS', case=False)]
    coffee = pop[pop['상호명'].str.contains('커피빈|coffeebean', case=False)]
    edi = pop[pop['상호명'].str.contains('이디야|ediya', case=False)]
    paik = pop[pop['상호명'].str.contains('빽다방|paiksdabang', case=False)]

    starbucks = pd.concat([starbucks, star])
    coffeebean = pd.concat([coffeebean, coffee])
    ediya = pd.concat([ediya, edi])
    paikdabang = pd.concat([paikdabang, paik])

/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/데이터/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

In [93]:
starbucks.tail()

        상호명      지점명   시도명     시군구명                     도로명주소
72684  스타벅스     충북대점  충청북도  청주시 서원구     충청북도 청주시 서원구 내수동로 113
73841  스타벅스  청주율량DT점  충청북도  청주시 청원구  충청북도 청주시 청원구 충청대로107번길 8
79073  스타벅스    충주연수점  충청북도      충주시         충청북도 충주시 계명대로 227
79357  스타벅스    충주성서점  충청북도      충주시          충청북도 충주시 예성로 151
84354  스타벅스      NaN  충청북도      음성군       충청북도 음성군 원남면 보천로 65

In [94]:
len(starbucks), len(coffeebean), len(ediya), len(paikdabang)

(1547, 293, 2120, 608)

In [97]:
result_dir = '/content/mnt/MyDrive/results/CoffeeIndex'

In [98]:
!mkdir -p $result_dir

In [99]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
ediya.to_csv(f'{result_dir}/이디야.csv', index=False)
coffeebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
paikdabang.to_csv(f'{result_dir}/빽다방.csv', index=False)